# Java: Ignorar archivos compilados (bytecode)
*.class

# Ignorar carpeta de binarios generada por Make o IDEs
bin/
out/
build/

# Archivos generados por la ejecución del simulador
output.csv

# Configuraciones locales de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db